.products{
    column-gap: 30px;
    display: flex;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: 1fr;
    padding: 40px 80px;
    justify-content: space-between;
}
.product-item{
    display: flex;
    flex-direction: column;
    width: 288px;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px;
}
div.card {
    width: 18rem;
}
.cart {
    position: relative;
}
.cart-item {
    display: flex;
    justify-content: space-between;
}
.cart-item:not(:last-child){
    margin-bottom: 20px;
}
.product-bio{
    display: flex;
}
.cart-item img{
    align-self: flex-start;
    margin-right: 15px;
}

.cart-block{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
    border-radius: 5px;
    box-sizing: border-box;
    right: 0;
    top: 130%;
    position: absolute;
    background-color: white;
    padding: 20px;
    color: black;
    width: 300px;
}

.invisible{
    display: none;
}
.cart-block:before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 35px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.invisible, .del-btn{
    margin-top: 5px;
    background-color: #2f2a2d;
    padding: 5px 15px;
    border: 1px solid transparent;
    color: #fafafa;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}
.btn-cart{
    background-color: green;
    padding: 10px 20px;
    border: 1px solid transparent;
    color: #2f2a2d;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}
.btn-cart:hover{
    background-color: darkgreen;
    border-color: #fafafa;
    color: #fafafa;
}
.btn-cart, .logo{
    align-self: center;
}

.buy-btn, .del-btn{
    margin-top: 5px;
    background-color: #2f2a2d;
    padding: 5px 15px;
    border: 1px solid transparent;
    color: #fafafa;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}
.buy-btn:hover, .del-btn:hover {
    background-color: #fafafa;
    color: #2f2a2d;
    border: 1px solid #2f2a2d;
}
.error-msg {
    padding: 30px 20px;
    background-color: red;
    color: white;
    position: relative;
}
.error-block {
    background-color: rgba(0,0,0, .5);
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
}
.close-btn {
    font-size: 1.5em;
    top: -40px;
    position: absolute;
    right: 0;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
}